body{
    background-color:"blue" ;
    font-family: 'Segoe UI' sans-serif;
    text-align: center ;
    padding-top: 50px ;
}

h1{
    color: "levender";
    font-size: 35px;
}

p{
    color: "blue";
    font-size: 20px;

}