body{
    background-color:"" ;
    font-family: 'Segoe UI' sans-serif;
    text-align: center ;
    padding-top: 50px ;
}

h1{
    color: "";
    font-size: 35px;
}

p{
    color: "";
    font-size: 20px;

}